
.button{
    background-color: rgb(213, 252, 221);
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 40vh;
    margin-left: 90vh;
    border: 1px solid rgb(10, 10, 23);
    width: 150px;
    height: 75px;
    border-radius: 10%;
    font-size: larger;
    color: rgb(26, 7, 7);
    cursor: pointer; 
}

  
.button:hover,
.button:focus {
  color: rgb(222, 14, 14);
  text-decoration: none;
  box-shadow: 0 42px 283px -40px rgba(34, 194, 82, 0.89),0 6px 20px 40px rgba(62, 234, 174, 0.19);

}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(25, 225, 240, 0.4);
  }
  
  .modal-content {
    background-color: #fbd6d6;
    margin: 15% auto; 
    border: 1px solid rgb(24, 12, 12);
    width: 30%; 
    height: 20%;
    border: 1px solid rgb(7, 8, 15);
    box-shadow: 0 12px 28px 80px rgba(39, 196, 227, 0.89),0 6px 20px 100px rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.9s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  

  .close {
    color: rgb(45, 229, 45);
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3px;
    margin-right: 3px;
}
  
  .close:hover,
  .close:focus {
    color: rgb(222, 14, 14);
    text-decoration: none;
    cursor: pointer;
  }


  .modal-content p{
    color: rgb(17, 12, 12);
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
